*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
​
body{
display: flex;
flex-direction: column;
flex: 1 0 auto;
background-color: blanchedalmond;
margin: 8px;
}
header{
    height: 200px;
    background: url(/ContactaUs.gif)center; 
    width: 100%;
    margin: 0 0 10px 0;
    border-bottom: 2px solid tomato;
​
}
​
#logo{
    height: 150px;
    margin-bottom: 0;
}
#logo:hover{
    -webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}
main{
    display:flex;
    justify-content: space-between;
    min-height: 100vh;
​
​
}
​
section{
    margin: 10px ;
    flex-basis: 60%;
}
section h1{
    font-size: 50px;
}
aside{
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    display: inline; 
    flex-direction: column;
    flex-grow: 1;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
   height: 100%;
   box-shadow: 10px 10px 8px #888888;
​
    }
​
    button:hover{
        background-color:tomato;
    }
    label{
        padding: 10px;
        margin: 10px;
​
    }
​
​
​
    #search{
    height:30px;
    width: 70%;
​
    }
​
     footer{
         padding: 0 30px 0 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        bottom: 0;
        height: 100px;
        background-color: #94ccc9;
        margin: 10;  }
​
​
 footer h2{
	color: #fff;
	bottom: 0;
	padding-bottom: 6px;
	font-family: sans-serif;
	width: 100%;
	text-align: center;
    pointer-events: none;
    
}
​
 footer #logo{
     height: 80px;
    
      }
​
 
    @media (max-width: 800px) {
        main {
          flex-direction: column;
        }
        section{  flex-grow: 1;
​
        }
        aside{
            flex-grow: 0;
            
order: -1;        }
      }